.cycle2-basic {
	background: url("../images/spinner.gif") no-repeat scroll 50% 50% transparent;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
	padding-bottom: 40px;
	box-shadow: 0 0 10px #ccc;
}

.cycle2-basic .cycle-progress { 
	position: absolute; 
	bottom: 0; 
	height: 6px; 
	width: 0px; 
	background: url(../images/bg-opacity-50.png) repeat; 
	z-index: 500; 
}
.cycle2-basic img {
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.cycle2-basic img:first-child {
	position: static;
	z-index: 100;
}
.cycle2-basic .cycle-pager {
	overflow: hidden;
	position: absolute;
	text-align: center;
	bottom: 25px;
	width: 100%;
	z-index: 500;
}
.cycle2-basic .cycle-pager span {
	color: #DDDDDD;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-size: 50px;
	height: 16px;
	width: 16px;
}
.cycle2-basic .cycle-pager span.cycle-pager-active {
	color: #D69746;
}
.cycle2-basic .cycle-pager > * {
	cursor: pointer;
}
.cycle2-basic .cycle-caption {
	color: #fff;
	position: absolute;
	z-index: 700;
	bottom: 8px;
	right: 8px;
}
.cycle2-basic .cycle-overlay {
	background: url(../images/bg-opacity-75.png) repeat;
	bottom: 0;
	color: #fff;
	position: absolute;
	width: 100%;
	z-index: 600;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0;
	text-indent: 10px;
}
.cycle2-basic .cycle-prev, 
.cycle2-basic .cycle-next {
	cursor: pointer;
	height: 100%;
	opacity: 0.25;
	position: absolute;
	top: 0;
	width: 30%;
	z-index: 800;
}
.cycle2-basic .cycle-prev {
	background: url("../images/left.png") no-repeat scroll 50% 50% transparent;
	left: 0;
}
.cycle2-basic .cycle-next {
	background: url("../images/right.png") no-repeat scroll 50% 50% transparent;
	right: 0;
}
.cycle2-basic .cycle-prev:hover, 
.cycle2-basic .cycle-next:hover {
	opacity: 1;
}
.cycle2-basic .disabled {
	opacity: 0.5;
}
.cycle2-basic .cycle-paused:after {
	background: none repeat scroll 0 0 black;
	border-radius: 10px 10px 10px 10px;
	color: white;
	content: "Paused";
	opacity: 0.5;
	padding: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 500;
}
